<form action="/names" method="post">
    <style>
    body { color: purple; }
    </style>
  <div>
    <h1>Game of Programmers </h1>
  </div>
  <div>
    <div>
      <label for="name">Fighter 1:</label>
      <input type="text" name="player_1_name">
    </div>
    <div>
      <label for="name">Fighter 2:</label>
      <input type="text" name="player_2_name">
    </div>
    <input type="submit" style="font-size: larger; color: red; background-color: black;" value=" Start fight ">
  </div>
</form>
