<div>
  Fighter 1: <%= @player_1_name %>
<div>
    Fighter 2:  <%= @player_2_name %>
  <div>
  </div>
</div>
<form action="/attack">
  <input type="submit" style="font-size: larger; color: gold; background-color: black;" value=" Attack! ">
</form>
